log/*
tmp/*
config/database.yml
*.swp
*.swo
coverage/*
.bundle
db/schema.rb
db/*.sqlite3
.rvmrc
.sass-cache/*
.DS_Store
config/initializers/setup_mail.rb
public/system/dragonfly/*
.rspec
vendor/cache/*
config/secrets.yml