The task <%= "##{@task.id} - #{@task.name}" %> recieved a new comment.

<%= @comment.user.name %> said:
<p><%= strip_tags raw(@comment.description) %></p>
---

Use the link below to answer this comment:
<%# I will fix it late! I am doing like this, to fix the problems separately %>
<%= project_task_url(Project.find(@task.project_id),@task) %>
