- content_for :title, "My Projects"
%h3
  My Projects - 
  = link_to '(+) Create Project', new_project_path

%div.projects
  - unless @projects.blank?
    %ul
      - @projects.each do |project|
        %li.project
          %div.description
            %h1
              = link_to project.name, project
          %p
            = project.description
          %div.members
            %ul
              - project.users.each do |project_user|
                %li
                  = show_user_avatar(project_user)
              -
      -
  - else
    %p
      You don't have any projects. <%= link_to 'Create', new_project_path %> your first project!
  -