/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require_tree . 
*/

/* Main Structure */

body {
  background: #eee;
}

header {
  overflow: hidden;
  padding: 1em 0 0;
}

#logo {
  float: left;
}

#logo a {
  background: url(/assets/logo.png) no-repeat left top;
  display: block;
  width: 107px;
  height: 52px;
  text-indent: -15000px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h1 span {
  font-size: .5em;
}

h2 {
  font-size: 1.6em;
  margin: 0;
}

h3 {
  font-size: 1.2em;
}

#wrap {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 2%;
}

article {
  min-height: 300px;
}

section {
  float: left;
  width: 45%;
  max-width: 590px;
}

.login-info {
  float: right;
  line-height: 3em;
}

.avatar.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#project-show header {
  overflow: hidden;
  padding: 0 0 1em;
  border-bottom: 1px solid #ccc;
}

#project-show h1 {
  float: left;
}

#new-task {
  float: right;
}

.status-pane {
  width: 31.2%;
  padding: 1%;
  min-height: 300px;
}

.status-pane ul {
  padding: 0;
}

.status-pane li {
  list-style-type: none;
  padding: .5em 0;
}

.status-pane.current {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.status-pane.todo {
  width: inherit;
  min-height: 100px;
  max-width: none;
  border-top: 1px solid #ccc;
  float: none;
  clear: both;
}

.status-pane .bug {
  color: #df0000;
}

aside {
  float: right;
  width: 49%;
}

footer {
  text-align: center;
  clear: both;
  border-top: 1px solid #ccc;
  padding: .5em 0;
}

/* Forms */

input, textarea {
  background: #f6f6f6;
  border-color: #ccc #eee #eee;
  border-width: 1px;
  border-style: solid;
  color: #333;
}

input:active, input:focus, textarea:active, textarea:focus {
  background: #fff;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #ababab;
  border-radius: 5px;
  background: #ccc; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#dbdbdb 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#dbdbdb 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#dbdbdb 100%); /* W3C */
  padding: .5em 1em;
  margin: .5em 0;
}

/* Specific Areas */

#task-details{
  position: fixed;
  top: 110px;
  border: 1px solid #ccc;
  padding: 1%;
}

.thread{
  padding-left: 0;
}

.thread li{
  list-style-type: none;
  border-top: 1px solid #ccc;
  padding-top: .5em;
  margin-bottom: .5em;
}

.thread em{
  display: block;
  font-size: .8em;
}

.thread .destroy{
  float: right;
}

#new_comment textarea {
  width: 100%;
  height: 10em;
}

#new_comment input {
  float: right;
}

/* Alerts */

#notice {
  color: green;
  background: #cfc;
  position: fixed;
  top: 0;
  left: 40%;
  padding: 1% 2%;
  margin: 0;
  font-size: 1.2em;
  opacity: .6;
  moz-opacity: .60;
  filter:alpha(opacity=60);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.done, .done:visited {
  text-decoration: line-through;
  color: #999;
}