/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

div.input{
    label{
        display:block;
        margin-top:10px;
    }    
}

div.input.check_boxes {
    span{
        display:block;
        input{
            display:inline;
        }
        label.collection_check_boxes {
            display:inline;
            margin:10px 0 10px 10px;
        }
    }
}